<div *ngIf='proizvodjacVidljiv'>
    <app-proizvodjac-adm [vidljivoDodajP]='vidljivoDodajP' 
                         [vidljivoIzmijeniP]='vidljivoIzmijeniP'
                         [odabraniProizvodjac]='odabraniProizvodjac'></app-proizvodjac-adm>
</div>

<div *ngIf='modelVidljiv'>
    <app-model-adm [odabraniModel]='odabraniModel' 
                   [dodajModelBtn]='dodajModelBtn'></app-model-adm>
</div>

<div *ngIf='statusVidljiv'>
    <app-status-adm [dodajStatusBtn]='dodajStatusBtn'
                    [odabraniStatus]='odabraniStatus'></app-status-adm>
</div>