<div class="usrname-info" *ngIf='v2'>{{usrInf}}</div>

<h2>
    {{ naslovStranice }}
</h2>

<div class="row">

    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12" *ngIf='svi'>
        <app-automobil [proizvodjaciAbc]='proizvodjaciAbc' 
                       [proizvodjaciChecked]='proizvodjaciChecked' 
                       [brMjesta]='brMjesta' 
                       [brMjestaChecked]='brMjestaChecked'></app-automobil>
    </div>

    <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12"  *ngIf='svi'>
        <app-automobili-table [automobili]='automobili'></app-automobili-table>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"  *ngIf='!svi'>
        <app-automobil-detalji [odabraniAutomobil]='odabraniAutomobil' 
                               [rezAutomIdAktivne]='rezAutomIdAktivne'></app-automobil-detalji>
    </div>

</div>

