<div>
    <label>ID</label>
    <input type="text" class="form-control" disabled="disabled" [(ngModel)]='selektovaniAutomobil.id'>
    <label>Proizvodjac</label>
    <input type="text" class="form-control" disabled="disabled" [(ngModel)]='selektovaniAutomobil.proizvodjac'>
    <label>Model</label>
    <input type="text" class="form-control" disabled="disabled" [(ngModel)]='selektovaniAutomobil.model'>
    <label>Cijena</label>
    <input type="text" class="form-control" disabled="disabled" [(ngModel)]='selektovaniAutomobil.cijena'>
</div>