<div class="okvir-adm">

    <h4 class="center-margin-bottom-20">Proizvodjac</h4>

    <div>
        <label>ID</label>
        <input type="text" class="form-control" [disabled]='true' [ngModel]='odabraniProizvodjac.id'>
    </div>
    <br>
    <div>
        <label>Naziv</label>
        <input type="text" class="form-control" maxlength="30" [(ngModel)]='odabraniProizvodjac.naziv'>
    </div>

    <br><br>

    <button class="btn btn-success" (click)='dodajProizvodjaca()' *ngIf='vidljivoDodajP'>Dodaj proizvodjaca</button>

    <button class="btn btn-success" (click)='izmijeniProizvodjaca()' *ngIf='vidljivoIzmijeniP'>Izmijeni proizvodjaca</button>

</div>

<br><br>

