<div class="okvir-adm">

    <h4 class="center-margin-bottom-20">Automobil</h4>

    <div>
        <label>ID</label>
        <input type="text" class="form-control" [ngModel]='automobil.id' disabled='disabled'>
    </div>
    <br>
    <div>
        <label>Proizvođač</label>
        <select name="proizvodjaci" class="form-control" [(ngModel)]='automobil.proizvodjacID' (ngModelChange)='toNumber()'>
            <option *ngFor='let e of proizvodjaci' value="{{e.id}}">{{e.naziv}}</option>
        </select>
    </div>
    <br>
    <div>
        <label>Model</label>
        <select name="modeli" class="form-control" [(ngModel)]='automobil.modelID' (ngModelChange)='toNumber()'>
            <option *ngFor='let e of modeli' value="{{e.id}}">{{e.oznaka}}</option>
        </select>
    </div>
    <br>
    <div>
        <label>Godište</label>
        <select name="godista" id="godista" class="form-control" [(ngModel)]='automobil.godiste' (ngModelChange)='toNumber'>
            <option *ngFor='let e of godista' value="{{e}}">{{e}}.</option>
        </select>
    </div>
    <br> 
    <div>
        <label>Motor</label>
        <input type="text" class="form-control" [(ngModel)]='automobil.motor'>
    </div>
    <br>
    <div>
        <label>Broj putnika</label>
        <select name="putnici" class="form-control" [(ngModel)]='automobil.brPutnika' (ngModelChange)='toNumber()'>
            <option *ngFor='let e of putnici'>{{e}}</option>
        </select>
    </div>
    <br>
    <div>
        <label>Status</label>
        <select name="statusi" class="form-control" [(ngModel)]='automobil.statusID' (ngModelChange)='toNumber()'>
            <option *ngFor='let e of statusi' value="{{e.id}}">{{e.tip}}</option>
        </select>
    </div>
    <br>
    <div>
        <label>Cijena</label>
        <input type="text" class="form-control" [(ngModel)]='automobil.cijena' (ngModelChange)='toNumber()'>
    </div>
    <br><br>
    <div class="form-check">
        <input type="checkbox" id="aut_mje" class="form-check-input" [(ngModel)]='automobil.automatskiMjenjac'>
        <label for="aut_mje">Automobil ima automatski mjenjač</label>
    </div>
    <br><br>
    <div>
        <label>Fotografija</label>
        <input type="file" class="form-control-file" ng2FileSelect [uploader]='uploader'>
    </div>
    <br>
    <div>
        <!-- <img src="{{apiUrl}}/{{automobil.fotografija}}" alt=""> -->
        <img src="{{apiUrl}}/{{automobil.fotografija}}" alt="" *ngIf='automobil.fotografija'>
    </div>
    <br>

    <button class="btn btn-success" *ngIf='dodajAutomobilBtn' (click)='dodajAutomobil()'>Dodaj automobil</button>

    <button class="btn btn-success" *ngIf='!dodajAutomobilBtn' (click)='izmijenijAutomobil()'>Izmijeni automobil</button>

</div>

<br><br>

