<div class="okvir-adm">

    <h4 class="center-margin-bottom-20">Status</h4>

    <div>
        <label>ID</label>
        <input type="text" class="form-control" [disabled]='true' [ngModel]='status.id'>
    </div>
    <br>
    <div>
        <label>Tip</label>
        <input type="text" class="form-control" maxlength="20" [(ngModel)]='status.tip'>
    </div>

    <br>

    <button class="btn btn-success" *ngIf='dodajStatusBtn' (click)='dodajStatus()'>Dodaj tip statusa</button>
    <button class="btn btn-success" *ngIf='!dodajStatusBtn' (click)='izmijeniStatus()'>Izmijeni tip statusa</button>
</div>

<br><br>

