<div class="row">

    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12"></div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">

        <p>
            <img src="{{apiUrl}}/{{odabraniAutomobil.fotografija}}" alt="nema slike">
        </p>

        <table class="table velicina">
            <tbody>
                <tr>
                    <th scope="row" class="gornja-linija">Proizvođač:</th>
                    <td class="gornja-linija">{{odabraniAutomobil.proizvodjac.naziv}}</td>
                    <td class="gornja-linija"></td>
                </tr>
                <tr>
                    <th scope="row">Model:</th>
                    <td>{{odabraniAutomobil.model.oznaka}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Godina proizvodnje:</th>
                    <td>{{odabraniAutomobil.godiste}}.</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Mjenjač:</th>
                    <td>{{odabraniAutomobil.mjenjac}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Motor:</th>
                    <td>{{odabraniAutomobil.motor}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Status:</th>
                    <td>
                        {{odabraniAutomobil.status.tip}}
                    </td>
                    <td></td>
                </tr>
                <tr *ngIf='rezervacijeAutomobilID.length > 0'>
                    <th scope="row">
                        <div >Nedostupan:</div>
                    </th>
                    <td>
                        <div class="nedostupan" *ngFor='let e of rezervacijeAutomobilID'>
                            od {{e.datumPreuzimanja | date:'dd. MMM yyyy.'}} do {{e.datumVracanja | date:'dd. MMM yyyy.'}}
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Cijena po danu:</th>
                    <td>{{odabraniAutomobil.cijena}} &euro;</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Datum preuzimanja:</th>
                    <td><input type="date" id="preuz" name="preuz" [(ngModel)]='rezervacija.datumPreuzimanja' (ngModelChange)='promjena()'>
                        <div class="upozorenje" *ngIf='preuzimanjeAlert'>Odaberite datum.</div>
                        <div class="upozorenje" *ngIf='proslostAlert'>Datum ne može biti u prošlosti.</div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Datum vraćanja:</th>
                    <td>
                        <input type="date" id="vrac" name="vrac" [(ngModel)]='rezervacija.datumVracanja'  (ngModelChange)='promjena()'>
                        <div class="upozorenje" *ngIf='vracanjeAlert'>Odaberite datum.</div>
                        <div class="upozorenje" *ngIf='razlikaAlert'>Vraćanje mora biti nakon preuzimanja.</div>
                        <div class="upozorenje" *ngIf='periodAlert'>Period se poklapa sa postojećim.</div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Broj dana:</th>
                    <td>{{brDana}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Cijena rezervacije:</th>
                    <td>{{cijenaRez}} &euro;</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Cijena iznajlmjivanja:</th>
                    <td>{{cijenaIzn}} &euro;</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <br>

        <div class="dugmad">
            <button class="btn btn-success" (click)='rezervisi()' [disabled]='onemoguciDugme'>Rezerviši</button>
            <button class="btn btn-danger" (click)='odustani()'>Odustani</button>
        </div>

    </div>

    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12"></div>

</div>

<br><br>

