<h2 class="naslov">Prijavljivanje na aplikaciju</h2>

<div class="row">

    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12"></div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        
        <div>
            <label>Korisničko ime</label>
            <input type="text" class="form-control" maxlength="15" [(ngModel)]='korisnik.username'>
        </div>

        <br>

        <div>
            <label>Lozinka</label>
            <input type="password" class="form-control" maxlength="20" [(ngModel)]='korisnik.password'>
        </div>

        <br><br>

        <button class="btn btn-info form-control" (click)='login()'>Prijavite se</button>

    </div>

    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12"></div>

</div>