img {
    max-height: 80px;
}

td > div {
    padding-top: 25px;
    font-size: 18px;
    /*background-color: burlywood;*/
}

.poravnanje {
    text-align: center;
    font-weight: bold;
}

.tekst-zelen {
    color: forestgreen;
}

.tekst-plav {
    color: dodgerblue;
}

.tekst-crven {
    color: firebrick;
}

