body {
	height: 100%;
}

img {
    max-height: 80px;
}

td > div {
    padding-top: 25px;
    font-size: 20px;
}

.tekst-zelen {
    text-align: center;
    color: green;
}

.tekst-plav {
    text-align: center;
    color: blue;
}

.tekst-crven {
    text-align: center;
    color: red;
}

