<div>
    <div *ngFor='let e of automobili' class="okvir">
        <div class="fotografija">
            <div class="centriranje-slike">
                <img src="{{apiUrl}}/{{e.fotografija}}" alt="nema slike">
            </div>
        </div>
        <div class="podaci">
            <p><b>Automobil:</b> {{e.proizvodjac.naziv}} - {{e.model.oznaka}}</p>
            <p><b>Mjenjač:</b> {{e.mjenjac}}</p>
            <p><b>Cijena:</b> {{e.cijena}} &euro;/dan</p>
            <p><b>Status:</b> {{e.status.tip}}</p>
            <button type="button" class="btn btn-info" (click)='detaljnije(e.id)'>Detalji iznajmljivanja</button>
        </div>
    </div>
</div>

