.okvir {
    border: #eee solid 1px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;

    -webkit-transition: 0.3s;
    transition: 0.3s;

    height: 250px;
}

.okvir:hover {
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.6);
}

.fotografija {
    width: 50%;
}

.podaci {
    width: 50%;
    padding-left: 20px;
    text-align: center;
    font-size: 20px;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.centriranje-slike {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(166, 222, 255);*/
    /*border: 1px solid black;*/
}

@media screen and (max-width: 700px) {
  .okvir {   
    flex-direction: column;
  }
  .fotografija {
    width: 100%;
  }
  .podaci {
    width: 100%;
  }
}

p {
  margin: 0 0 7px 0;
  //padding: 0;
}