<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Proizvođač</th>
        <th>Model</th>
        <th>Godište</th>
        <th>Motor</th>
        <th>Mjenjač</th>
        <!-- <th>Status</th> -->
        <th class="cntr">Putnici</th>
        <th>Fotografija</th>
        <th class="cntr">Cijena</th>
        <th class="cntr">Izmijeni</th>
        <th class="cntr">Ukloni</th>
    </tr>
    <tr *ngFor='let e of automobiliAbc'>
        <td><div>{{ e.id }}</div></td>
        <td><div>{{ e.proizvodjac.naziv }}</div></td>
        <td><div>{{ e.model.oznaka }}</div></td>
        <td><div>{{ e.godiste }}</div></td>
        <td><div>{{ e.motor }}</div></td>
        <td><div>{{ e.automatskiMjenjac ? 'automarski' : 'manuelni' }}</div></td>
        <!-- <td><div>{{ e.status.tip }}</div></td> -->
        <td class="cntr"><div>{{e.brPutnika}}</div></td>
        <td><img src="{{apiUrl}}/{{e.fotografija}}" alt="nema slike"></td>
        <td class="cntr"><div>{{ e.cijena }} &euro;</div></td>
        <td class="cntr">
            <div>
                <button class="btn btn-warning" (click)='izmijeniAutomobil(e)'>Izmijeni</button>
            </div>
        </td>
        <td class="cntr">
            <div>
                <button class="btn btn-danger" (click)='ukloniAutomobil(e)'>Ukloni</button>
            </div>
        </td>
    </tr>
</table>

<br><br>

