<h2>Manipulacija podacima o automobilima</h2>

<br>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="auto-adm" value="unos" [checked]='odabranUnos' (click)='kliknutoDodaj()'>
    <label class="form-check-label" for="unos">Dodaj automobil, proizvodjaca, model i/ili status</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="auto-adm" value="izm-ukl" [checked]='odabranaIzmjUklanj'  (click)='kliknutoIzmUkl()'>
    <label class="form-check-label" for="izm-ukl">Izmijeni/Ukloni automobil, proizvodjaca, model i/ili status</label>
</div>

<br><br><br>

<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" *ngIf='odabranUnos'>
        <app-automobil-obrazac-adm [proizvodjaci]='proizvodjaci'
                                   [modeli]='modeli' 
                                   [statusi]='statusi'>
        </app-automobil-obrazac-adm>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" *ngIf='odabranUnos'>
        <app-pro-mod-sta-adm></app-pro-mod-sta-adm>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" *ngIf='odabranaIzmjUklanj'>
        <app-automobili-tabela-adm></app-automobili-tabela-adm>
    </div>
</div>
