<h2 class="naslov">Manipulacija podacima o automobilima</h2>

<br>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="auto-adm" value="unos" [checked]='odabranUnos' (click)='kliknutoDodaj()'>
    <label class="form-check-label" for="unos">Dodaj automobil, proizvodjaca, model i/ili status</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="auto-adm" value="izm-ukl" [checked]='odabranaIzmjUklanj'  (click)='kliknutoIzmUkl()'>
    <label class="form-check-label" for="izm-ukl">Izmijeni/Ukloni automobil</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="auto-adm" value="izm-ukl-ost" [checked]='odabranaIzmjUklanjOst'  (click)='kliknutoIzmUklOst()'>
    <label class="form-check-label" for="izm-ukl-ost">Izmijeni/Ukloni proizvodjaca, model i/ili status</label>
</div>

<br><br><br>

<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" *ngIf='odabranUnosA'>
        <app-automobil-obrazac-adm [proizvodjaci]='proizvodjaci'
                                   [modeli]='modeli' 
                                   [statusi]='statusi' 
                                   [dodajAutomobilBtn]='dodajAutomobilBtn'
                                   [odabraniAutomobil]='odabraniAutomobil'>
        </app-automobil-obrazac-adm>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" *ngIf='odabranUnosPrMoSt'>
        <app-pro-mod-sta-adm [proizvodjacVidljiv]='proizvodjacVidljiv' 
                             [modelVidljiv]='modelVidljiv' 
                             [statusVidljiv]='statusVidljiv' 
                             [vidljivoDodajP]='vidljivoDodajP' 
                             [vidljivoIzmijeniP]='vidljivoIzmijeniP' 
                             [odabraniProizvodjac]='odabraniProizvodjac' 
                             [odabraniModel]='odabraniModel' 
                             [dodajModelBtn]='dodajModelBtn' 
                             [odabraniStatus]='odabraniStatus'
                             [dodajStatusBtn]='dodajStatusBtn'></app-pro-mod-sta-adm>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" *ngIf='odabranaIzmjUklanj'>
        <app-automobili-tabela-adm [automobiliAbc]='automobiliAbc'></app-automobili-tabela-adm>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" *ngIf='odabranaIzmjUklanjOst'>
        <app-proizvodjaci-tabela [proizvodjaci]='proizvodjaci' 
                                 [vidljivoDodajP]='vidljivoDodajP' 
                                 [vidljivoIzmijeniP]='vidljivoIzmijeniP'></app-proizvodjaci-tabela>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" *ngIf='odabranaIzmjUklanjOst'>
        <app-modeli-tabela [modeli]='modeli'></app-modeli-tabela>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" *ngIf='odabranaIzmjUklanjOst'>
        <app-statusi-tabela [statusi]='statusi'></app-statusi-tabela>
    </div>
</div>

