/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap.css';

.margin-top-5-pct {
    margin-top: 5%;
}

.okvir-adm {
    border: dashed 1px black;
    border-radius: 10px;
    padding: 2%;
}

.center-margin-bottom {
    text-align: center;
    margin-bottom: 30px;
}

.center-margin-bottom-20 {
    text-align: center;
    margin-bottom: 20px;
}