.centar {
    text-align: center;
    font-weight: bold;
}

.tekst-zelen {
    color: forestgreen;
}

.tekst-plav {
    color: dodgerblue;
}

.tekst-crven {
    color: firebrick;
}

td > div {
    padding-top: 10px;
    font-size: 16px;
}

