<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <select class="form-control" [(ngModel)]='korisnikID' (ngModelChange)='pretraga()'>
            <option value="-1" selected>Svi korisnici</option>
            <option *ngFor='let e of korisniciSviAbc' value="{{e.id}}">{{e.prezime}} {{e.ime}} - {{e.username}}</option>
        </select>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <select class="form-control" [(ngModel)]='automobilID'  (ngModelChange)='pretraga()'>
            <option value="-1" selected>Svi automobili</option>
            <option *ngFor='let e of automobiliSviAbc' value="{{e.id}}">{{e.proizvodjac.naziv}} - {{e.model.oznaka}} ({{e.id}})</option>
        </select>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <select class="form-control" [(ngModel)]='godinaID' (ngModelChange)='pretraga()'>
            <option value="-1" selected>Sve godine</option>
            <option *ngFor="let e of godineSve" value="{{e.id}}">{{e.godina}}</option>
        </select>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <select class="form-control" [(ngModel)]='mjesecID' (ngModelChange)='pretraga()'>
            <option value="-1" selected>Svi mjeseci</option>
            <option *ngFor="let e of mjeseciSvi" value="{{e.id}}">{{e.naziv}}</option>
        </select>
    </div>
</div>

<br><br>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Preuzimanje</th>
            <th scope="col">Vraćanje</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">Automobil</th>
            <th scope="col" class="centar">Status</th>
            <th scope="col" class="centar">Vraćen</th>
            <th scope="col" class="centar">Kašnjenje</th>
            <th scope="col" class="centar">Detalji</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor='let e of rezervacijeIstorijaAbc'>
            <td><div>{{e.datumPreuzimanja | date: 'dd. MMM yyyy.'}}</div></td>
            <td><div>{{e.datumVracanja | date: 'dd. MMM yyyy.'}}</div></td>
            <td><div>{{e.korisnik.ime}} {{e.korisnik.prezime}}</div></td>
            <td><div>{{e.automobil.proizvodjac.naziv}} - {{e.automobil.model.oznaka}}</div></td>
            <td><div class="centar" [ngClass]="{'tekst-plav' : (e.realizovana === null), 
                                                'tekst-crven' : (e.realizovana === false), 
                                                'tekst-zelen' : (e.realizovana === true)}">
                    {{(e.realizovana === null) ? 'na čekanju' : (e.realizovana === true) ? 'realizovana' : 'otkazana'}}
                </div>
            </td>
            <td>
                <div class="centar" [ngClass]="{
                    'tekst-plav': (kasnjenje(e.datumVracanja, e.datumStvarnogVracanja) < 0) && (e.realizovana !== false), 
                    'tekst-crven': (kasnjenje(e.datumVracanja, e.datumStvarnogVracanja) > 0) || (e.realizovana === false), 
                    'tekst-zelen': (kasnjenje(e.datumVracanja, e.datumStvarnogVracanja) === 0)  && (e.realizovana !== false)}">
                    {{(e.realizovana === false) ? '-' : (e.datumStvarnogVracanja | date: 'dd. MMM yyyy.')}}
                </div>
            </td>
            <td><div class="centar" [ngClass]="{
                    'tekst-plav': (kasnjenje(e.datumVracanja, e.datumStvarnogVracanja) < 0) && (e.realizovana !== false), 
                    'tekst-crven': (kasnjenje(e.datumVracanja, e.datumStvarnogVracanja) > 0) || (e.realizovana === false), 
                    'tekst-zelen': (kasnjenje(e.datumVracanja, e.datumStvarnogVracanja) === 0)  && (e.realizovana !== false)}">
                    {{(e.realizovana === false) ? '-' : kasnjenje(e.datumVracanja, e.datumStvarnogVracanja)}}
                </div>
            </td>
            <td><div class="centar"><button type="button" class="btn btn-info" (click)='detaljnije(e)'>Detaljnije</button></div></td>
        </tr>
    </tbody>
</table>

<br><br>

<div class="row" *ngIf='vidljivo'>
    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
        <app-rezervacije-adm-ist-kor [rezervacijaOdabrana]='rezervacijaOdabrana'></app-rezervacije-adm-ist-kor>
    </div>

    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12"></div>

    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
        <app-rezervacije-adm-ist-aut [rezervacijaOdabrana]='rezervacijaOdabrana'></app-rezervacije-adm-ist-aut>
    </div>
</div>

<br><br>

<div class="row" *ngIf='vidljivo'>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <button type="button" class="btn btn-danger form-control" (click)='ukloni()'>Ukloni rezervaciju</button>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <button type="button" class="btn btn-secondary form-control" (click)='nazad()'>Vrati se nazad</button>
    </div>
</div>

<br><br>

